
<section class="h-100 h-custom" style="background-color: #8fc4b7; position: fixed;width:100%">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="brand-logo d-flex justify-content-center mb-3">
                        <a href="http://localhost:4200/" class="pointer">
                            <img src="../assets/images/logos/logo-image.png" class="logo-advent">
                        </a>
                    </div>
                    <h3 class="mb-2 pb-2 pb-md-0 px-md-2 text-center">Feedback</h3>
                    <!-- <img src="../assets/images/logos/logo.png" class="logo" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo"> -->
                    <!-- <div class="card-body p-5 p-md-10"> -->
                        <section id="contact" class="card-body">
                            <div class="container">
                                <form class="row g-3 justify-content-center" [formGroup]="feedbackFormData"
                                    (ngSubmit)="postFeedbackData()">
                                    <div class="col-md-10">
                                        <label>Title</label>
                                        <input type="text" class="form-control" placeholder="Enter Feedback Type"
                                            formControlName="title">
                                    </div>
                                    <div class="col-md-10">
                                        <label>Description</label>
                                        <textarea name="" id="" cols="30" rows="5" class="form-control"
                                            placeholder="Enter your Feedback" formControlName="description"></textarea>
                                    </div>
                                    <div class="col-md-10 d-grid">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </section>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>