<!-- <p>initial-login works!</p>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="text-center">
    <button id="btnLogin" type="submit" name="submit" class=" btn btn-block mybtn submit-color tx-tfm" value="login"
        disabled=""><b>LOGIN</b></button>
</div> -->


<section class="vh-100 w-100">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class=" col-xl-5">
                <div class="card border-0 rounded-0">
                    <div class="card-body p-5">
                        <div class="md-5">
                            <div class="brand-logo d-flex justify-content-center mb-5">
                                <a href="http://localhost:4200/" class="pointer">
                                    <img [src]="logopath" class="logo">
                                </a>
                            </div>
                            <label class="text-align-center">{{this.logintype}}</label>
                            <form [formGroup]="userFormData" (ngSubmit)="AuthCheck()">
                                <div class="form-white mb-3">
                                    <label class="form-label mb-0">Username</label>
                                    <input type="email" formControlName="username" class="form-control form-control-md"
                                        placeholder="Username"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">User Name is required</div>
                                    </div>
                                </div>
                                <div class="form-outline form-white mb-2">
                                    <label class="form-label mb-0">Password</label>
                                    <input type="password" formControlName="password"
                                        class="form-control form-control-md" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <h6 class=" mb-3 pb-lg-2 d-flex justify-content-end" style="font-size: 14px;">
                                    <em><strong>Forgot your <a class="text-blue-50 text-decoration-none"
                                                routerLink="/ForgotPassword">Password?</a></strong></em>
                                </h6>

                                <button class="btn btn-md btn-success col-12 fw-bold" type="submit">LOGIN</button>
                            </form>
                        </div>
                        <div>
                            <p class="d-flex text-black justify-content-end" style="font-size: 15px;"
                                *ngIf="this.logintype=='user'">Don't have an
                                account?&nbsp;<a routerLink="/UserRegistration"
                                    class="text-blue-50 text-decoration-none"> Register Now</a>
                            </p>
                        </div>
                    </div>
                    <div *ngIf="alertmsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>USERNAME OR PAASWORD IS WRONG!</strong>
                        <button type="button" class="close cross" data-dismiss="alert" aria-label="Close"
                            (click)="closealert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>