.header{
    padding: 0 2rem 0 0;
    /* position: fixed;
    top: 0%;
    left: 0%;
    background-color: white;
    border: 1px solid black;
    height: 45px;
    width: 100%;
    z-index: 1; */
}
.menu-btn{
    background-color: grey;
    color: white;
    border: none;
    height: 100%;
    padding: 10px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.menu-btn-not-clicked{
    background-color: grey;
}
.menu-btn-clicked{
    background-color: red;
}

.dropdown-toggle::after {
    display:none;
}

.options{
    height: 100%;
    width: 70px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-left: 1px solid grey;
}
.options:hover{
    background-color: rgb(0, 255, 255);
    filter: invert(1);
}
.menu-bar{
    position: fixed;
    top: 45px;
    left: -20%;
    height: 93%;
    width: 20%;
    background-color: white;
    z-index: 1;
}
.slideright{
    animation: slideright 0.2s;
    left: 0%;
}
.slideleft{
    animation: slideleft 0.2s;
    left: -20%;
}
.nav-btn{
    border: none;
    color: black;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 12px;
    cursor: default !important;
    border-radius: 0;
}
.nav-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.notifications{
    max-height: 400px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid black; */
}
@keyframes slideright {
    from {left: -20%;}
    to {left: 0%;}
}
@keyframes slideleft {
    from {left: 0%;}
    to {left: -20%;}
}